dashboard/.flows.json.backup
[
    {
        "id": "2860ad446d60019d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3861079235b4c808",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttbroker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "sensor/1/data",
        "birthQos": "1",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3d89a586961cbace",
        "type": "ui_group",
        "name": "Waiting Time (Emergency)",
        "tab": "ffb068fa7641e543",
        "order": 3,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "54f04762.cf06f",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "ffb068fa7641e543",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "ffb068fa7641e543",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e5f636e.5a6654",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "13758b1e.e29865",
        "type": "ui_group",
        "name": "Queue Length",
        "tab": "ffb068fa7641e543",
        "order": 5,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "6aed43c2.25eb1c",
        "type": "ui_group",
        "name": "Waiting Time",
        "tab": "ffb068fa7641e543",
        "order": 4,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "4301a160.8e8d18",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "33c06804.05d8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c188be6a.7f9648",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "265b2238.494d46",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "54f04762.cf06f",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "5fb4693a.500358",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "54f04762.cf06f",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "603ecf59.6be55",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "54f04762.cf06f",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "48b466ee65b6b51a",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "sensor/1/data",
        "topic": "sensor/s1/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "5f714de5018a9a8a"
            ]
        ]
    },
    {
        "id": "5f714de5018a9a8a",
        "type": "json",
        "z": "2860ad446d60019d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "f6157f78.9b8718"
            ]
        ]
    },
    {
        "id": "fc871a97da29a412",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "SingleAvg",
        "group": "4301a160.8e8d18",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "single chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f7563c4f82c6eaa9",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "let sum = flow.get('sum') || 0;\nsum +=  parseInt(msg.payload);\nmsg.payload = sum;\nflow.set('sum', sum)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "7792c4892637eb60"
            ]
        ]
    },
    {
        "id": "7792c4892637eb60",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "SumAvg",
        "group": "4301a160.8e8d18",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "sum chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1280,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1be721e.9f5ca5e",
        "type": "inject",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "tickgen/tick:0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/tick",
        "payload": "0",
        "payloadType": "num",
        "x": 930,
        "y": 40,
        "wires": [
            [
                "151b6c4c.7f7ea4"
            ]
        ]
    },
    {
        "id": "a0bfdc2a.478be8",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "",
        "topic": "tickgen/tick",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "4c5aa208.bd8384"
            ]
        ]
    },
    {
        "id": "151b6c4c.7f7ea4",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "group": "54f04762.cf06f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Simulationszeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "35dcedf9.b67dea",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "d": true,
        "group": "4301a160.8e8d18",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "7d0eb526.24f5bc",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "",
        "topic": "tickgen/speed_factor",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "35dcedf9.b67dea"
            ]
        ]
    },
    {
        "id": "e3371d61.46b3b8",
        "type": "ui_slider",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "tooltip": "",
        "group": "54f04762.cf06f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "36c10c04.a003f4"
            ]
        ]
    },
    {
        "id": "36c10c04.a003f4",
        "type": "mqtt out",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "tickgen/speed_factor",
        "topic": "tickgen/speed_factor",
        "qos": "",
        "retain": "",
        "broker": "3861079235b4c808",
        "x": 1140,
        "y": 300,
        "wires": []
    },
    {
        "id": "fbe03f24.5310a",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "sensor/2/data",
        "topic": "sensor/s2/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "454226b1.d56818"
            ]
        ]
    },
    {
        "id": "454226b1.d56818",
        "type": "json",
        "z": "2860ad446d60019d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 780,
        "wires": [
            [
                "7146f93c.a6bf8"
            ]
        ]
    },
    {
        "id": "bf699861.2feaa8",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "SingleAvg",
        "group": "4301a160.8e8d18",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "single chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1100,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7146f93c.a6bf8",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 780,
        "wires": [
            [
                "bf699861.2feaa8",
                "7792c4892637eb60"
            ]
        ]
    },
    {
        "id": "f6157f78.9b8718",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            [
                "f7563c4f82c6eaa9",
                "fc871a97da29a412"
            ]
        ]
    },
    {
        "id": "4c5aa208.bd8384",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "7a2ccee8.b11ca"
            ]
        ]
    },
    {
        "id": "9b4e7a9a.3232c",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "simulation/avg_waiting_time",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 480,
        "y": 980,
        "wires": [
            [
                "925fbca7.b201b",
                "6f9adbd5.4f0734"
            ]
        ]
    },
    {
        "id": "7a2ccee8.b11ca",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "time = msg.payload;\nstamp = new Date(time);\nstamp.setHours(stamp.getHours() + 2)\nmsg.payload = stamp.toLocaleString('de-DE')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 100,
        "wires": [
            [
                "151b6c4c.7f7ea4"
            ]
        ]
    },
    {
        "id": "925fbca7.b201b",
        "type": "ui_gauge",
        "z": "2860ad446d60019d",
        "name": "Avg. Waiting Time",
        "group": "6aed43c2.25eb1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Avg. Waiting Time",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 980,
        "wires": []
    },
    {
        "id": "622048d4.151e08",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "simulation/max_waiting_time",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 480,
        "y": 1160,
        "wires": [
            [
                "c17dd82d.9304e"
            ]
        ]
    },
    {
        "id": "c17dd82d.9304e",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "group": "6aed43c2.25eb1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max waiting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 1160,
        "wires": []
    },
    {
        "id": "52c2ac82.1bfd84",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "simulation/intersection_queues",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 490,
        "y": 1380,
        "wires": [
            [
                "9b250f21.ddb278"
            ]
        ]
    },
    {
        "id": "1ae479d.0dc9106",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "Current Queue Length",
        "group": "13758b1e.e29865",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Current Queue Length By Intersection",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1240,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "9b250f21.ddb278",
        "type": "json",
        "z": "2860ad446d60019d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "d1f48326.6fadb",
                "fed316cf.868c",
                "32da6009.b7b8e8"
            ]
        ]
    },
    {
        "id": "d1f48326.6fadb",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "msg.payload = [{\n\"series\": [\"Int0\",\"Int1\",\"Int2\",\"Int3\",\"Int4\",\"Int5\",\"Int6\",\"Int7\",\"Int8\"],\n\"data\": [[msg.payload[\"0\"]],[msg.payload[\"1\"]],[msg.payload[\"2\"]],[msg.payload[\"3\"]],[msg.payload[\"4\"]],[msg.payload[\"5\"]],[msg.payload[\"6\"]],[msg.payload[\"7\"]],[msg.payload[\"8\"]]],\n\"labels\": [\"Queuesize by Intersection\"]\n}]\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 1380,
        "wires": [
            [
                "1ae479d.0dc9106"
            ]
        ]
    },
    {
        "id": "d9fb3cd.198fcc",
        "type": "ui_switch",
        "z": "2860ad446d60019d",
        "name": "Switch coordinated/uncoordinated",
        "label": "Switch coordinated/uncoordinated",
        "tooltip": "",
        "group": "54f04762.cf06f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 500,
        "y": 1880,
        "wires": [
            [
                "88a8f975.0af82"
            ]
        ]
    },
    {
        "id": "494fa0bb.5bf72",
        "type": "ui_button",
        "z": "2860ad446d60019d",
        "name": "Emergency Button",
        "group": "54f04762.cf06f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": ">>> Emergency <<<",
        "tooltip": "",
        "color": "{{msg.payload.Color}}",
        "bgcolor": "{{msg.payload.Background}}",
        "icon": "",
        "payload": "get(state)",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 2080,
        "wires": [
            [
                "263b7485.e30434",
                "ca742dc0.e1eae8"
            ]
        ]
    },
    {
        "id": "131f79c8.200a6e",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "Queue Length",
        "group": "13758b1e.e29865",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Queue Length By Intersection",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1260,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "fed316cf.868c",
        "type": "function",
        "z": "2860ad446d60019d",
        "d": true,
        "name": "",
        "func": "var msg0 = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n\nmsg0.payload = msg.payload[\"0\"]; \nmsg0.topic = 'Int0';\n\nmsg1.payload = msg.payload[\"1\"]; \nmsg1.topic = 'Int1';\n\nmsg2.payload = msg.payload[\"2\"]; \nmsg2.topic = 'Int2';\n\nmsg3.payload = msg.payload[\"3\"]; \nmsg3.topic = 'Int3';\n\nmsg4.payload = msg.payload[\"4\"]; \nmsg4.topic = 'Int4';\n\nmsg5.payload = msg.payload[\"5\"]; \nmsg5.topic = 'Int5';\n\nmsg6.payload = msg.payload[\"6\"]; \nmsg6.topic = 'Int6';\n\nmsg7.payload = msg.payload[\"7\"]; \nmsg7.topic = 'Int7';\n\nmsg8.payload = msg.payload[\"8\"]; \nmsg8.topic = 'Int8';\n\n\nreturn [msg0,msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 1540,
        "wires": [
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ],
            [
                "131f79c8.200a6e"
            ]
        ]
    },
    {
        "id": "32da6009.b7b8e8",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "var msg1 = {};\n\nsum = (parseInt(msg.payload[\"0\"]) + parseInt(msg.payload[\"1\"]) + parseInt(msg.payload[\"2\"]) + parseInt(msg.payload[\"3\"]) + parseInt(msg.payload[\"4\"]) + parseInt(msg.payload[\"5\"]) + parseInt(msg.payload[\"6\"]) + parseInt(msg.payload[\"7\"]) + parseInt(msg.payload[\"8\"]));\n\nvar avg = sum/9;\n\nmsg1.payload = avg; \n\nmsg1.topic = 'Average Queue Length';\n\nreturn [msg1];\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 1700,
        "wires": [
            [
                "a944b29.e6f795"
            ]
        ]
    },
    {
        "id": "a944b29.e6f795",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "Avg. Queue Length",
        "group": "13758b1e.e29865",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Avg. Queue Length",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1250,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "263b7485.e30434",
        "type": "mqtt out",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "button/emergency",
        "qos": "",
        "retain": "",
        "broker": "3861079235b4c808",
        "x": 1050,
        "y": 2080,
        "wires": []
    },
    {
        "id": "159067a0.ef4648",
        "type": "ui_button",
        "z": "2860ad446d60019d",
        "name": "Rush Hour Button",
        "group": "54f04762.cf06f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": ">>> Rush Hour <<<",
        "tooltip": "",
        "color": "{{msg.payload.Color}}",
        "bgcolor": "{{msg.payload.Background}}",
        "icon": "",
        "payload": "get(state)",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 2300,
        "wires": [
            [
                "91e6e484.d085d8",
                "d5c4ceb9.c1cde8"
            ]
        ]
    },
    {
        "id": "91e6e484.d085d8",
        "type": "mqtt out",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "button/rush_hour",
        "qos": "",
        "retain": "",
        "broker": "3861079235b4c808",
        "x": 1050,
        "y": 2300,
        "wires": []
    },
    {
        "id": "ca742dc0.e1eae8",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "Change Button Color",
        "func": "if(flow.get('state') == \"ON\") {\n    flow.set('state',\"OFF\");\n    msg.payload = JSON.parse('{\"Color\":\"white\",\"Background\":\"#0094ce\",\"State\":\"OFF\"}');\n}\nelse {\n    flow.set('state', \"ON\");\n    msg.payload = JSON.parse('{\"Color\":\"blue\",\"Background\":\"red\",\"State\":\"ON\"}');\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 2160,
        "wires": [
            [
                "494fa0bb.5bf72"
            ]
        ]
    },
    {
        "id": "d5c4ceb9.c1cde8",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "Change Button Color",
        "func": "if(flow.get('state') == \"ON\") {\n    flow.set('state',\"OFF\");\n    msg.payload = JSON.parse('{\"Color\":\"white\",\"Background\":\"#0094ce\",\"State\":\"OFF\"}');\n}\nelse {\n    flow.set('state', \"ON\");\n    msg.payload = JSON.parse('{\"Color\":\"blue\",\"Background\":\"orange\",\"State\":\"ON\"}');\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 2380,
        "wires": [
            [
                "159067a0.ef4648"
            ]
        ]
    },
    {
        "id": "6f9adbd5.4f0734",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "Avg. Waiting Time",
        "group": "6aed43c2.25eb1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Avg. Waiting Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "88a8f975.0af82",
        "type": "mqtt out",
        "z": "2860ad446d60019d",
        "name": "switch/coordinated",
        "topic": "switch/coordinated",
        "qos": "",
        "retain": "",
        "broker": "3861079235b4c808",
        "x": 1050,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1fbbbff9.cb9018",
        "type": "inject",
        "z": "2860ad446d60019d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "7a2ccee8.b11ca"
            ]
        ]
    },
    {
        "id": "2fd3f148.49ab5e",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "Emergency Vehicle Waiting Time",
        "topic": "simulation/emergency_waiting_time",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 490,
        "y": 2620,
        "wires": [
            [
                "53690877.63abe8"
            ]
        ]
    },
    {
        "id": "53690877.63abe8",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "Emergency Vehicle Waiting Time",
        "group": "54f04762.cf06f",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Emergency Vehicle Waiting Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1000,
        "y": 2620,
        "wires": [
            []
        ]
    }
]