dashboard/flows.json
[
    {
        "id": "2860ad446d60019d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3861079235b4c808",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttbroker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "sensor/1/data",
        "birthQos": "1",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3d89a586961cbace",
        "type": "ui_group",
        "name": "Chart-1",
        "tab": "ffb068fa7641e543",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "54f04762.cf06f",
        "type": "ui_group",
        "name": "Configuration",
        "tab": "ffb068fa7641e543",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ffb068fa7641e543",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e5f636e.5a6654",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "13758b1e.e29865",
        "type": "ui_group",
        "name": "Stats",
        "tab": "ffb068fa7641e543",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "713d0f0c05c07366",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "48b466ee65b6b51a",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "sensor/1/data",
        "topic": "sensor/s1/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "713d0f0c05c07366",
                "5f714de5018a9a8a"
            ]
        ]
    },
    {
        "id": "5f714de5018a9a8a",
        "type": "json",
        "z": "2860ad446d60019d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "488bef3166ebd69e",
                "f6157f78.9b8718"
            ]
        ]
    },
    {
        "id": "fc871a97da29a412",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "SingleAvg",
        "group": "3d89a586961cbace",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "single chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f7563c4f82c6eaa9",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "let sum = flow.get('sum') || 0;\nsum +=  parseInt(msg.payload);\nmsg.payload = sum;\nflow.set('sum', sum)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "eb3585105ea2dfbf",
                "7792c4892637eb60"
            ]
        ]
    },
    {
        "id": "488bef3166ebd69e",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "7792c4892637eb60",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "SumAvg",
        "group": "3d89a586961cbace",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "sum chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "eb3585105ea2dfbf",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "1be721e.9f5ca5e",
        "type": "inject",
        "z": "2860ad446d60019d",
        "name": "tickgen/tick:0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "tickgen/tick",
        "payload": "0",
        "payloadType": "num",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "151b6c4c.7f7ea4"
            ]
        ]
    },
    {
        "id": "a0bfdc2a.478be8",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "tickgen/tick",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "4c5aa208.bd8384",
                "b54a3f91.0cfcc"
            ]
        ]
    },
    {
        "id": "151b6c4c.7f7ea4",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "group": "54f04762.cf06f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Simulationszeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "35dcedf9.b67dea",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "group": "54f04762.cf06f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "7d0eb526.24f5bc",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "tickgen/speed_factor",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "35dcedf9.b67dea"
            ]
        ]
    },
    {
        "id": "e3371d61.46b3b8",
        "type": "ui_slider",
        "z": "2860ad446d60019d",
        "name": "",
        "label": "Simulationsgeschwindigkeit",
        "tooltip": "",
        "group": "54f04762.cf06f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "36c10c04.a003f4",
                "a0187d3d.453128"
            ]
        ]
    },
    {
        "id": "36c10c04.a003f4",
        "type": "mqtt out",
        "z": "2860ad446d60019d",
        "name": "tickgen/speed_factor",
        "topic": "tickgen/speed_factor",
        "qos": "",
        "retain": "",
        "broker": "3861079235b4c808",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "fbe03f24.5310a",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "sensor/2/data",
        "topic": "sensor/s2/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "454226b1.d56818"
            ]
        ]
    },
    {
        "id": "454226b1.d56818",
        "type": "json",
        "z": "2860ad446d60019d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "a06dfd9f.b20c28",
                "7146f93c.a6bf8"
            ]
        ]
    },
    {
        "id": "bf699861.2feaa8",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "SingleAvg",
        "group": "3d89a586961cbace",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "single chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1040,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a06dfd9f.b20c28",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "353c5b90.7a551c",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "7146f93c.a6bf8",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 560,
        "wires": [
            [
                "bf699861.2feaa8",
                "353c5b90.7a551c",
                "7792c4892637eb60"
            ]
        ]
    },
    {
        "id": "f6157f78.9b8718",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "f7563c4f82c6eaa9",
                "fc871a97da29a412"
            ]
        ]
    },
    {
        "id": "a0187d3d.453128",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c5aa208.bd8384",
        "type": "change",
        "z": "2860ad446d60019d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "3e99093f.16f3be",
                "7a2ccee8.b11ca"
            ]
        ]
    },
    {
        "id": "3e99093f.16f3be",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 20,
        "wires": []
    },
    {
        "id": "b54a3f91.0cfcc",
        "type": "debug",
        "z": "2860ad446d60019d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "9b4e7a9a.3232c",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "simulation/avg_waiting_time",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "925fbca7.b201b"
            ]
        ]
    },
    {
        "id": "7a2ccee8.b11ca",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "",
        "func": "time = msg.payload;\nstamp = new Date(time);\nmsg.payload = stamp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "151b6c4c.7f7ea4"
            ]
        ]
    },
    {
        "id": "925fbca7.b201b",
        "type": "ui_gauge",
        "z": "2860ad446d60019d",
        "name": "",
        "group": "13758b1e.e29865",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Avg waiting time",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 800,
        "wires": []
    },
    {
        "id": "88c50026.d8671",
        "type": "ui_chart",
        "z": "2860ad446d60019d",
        "name": "",
        "group": "13758b1e.e29865",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6889df.d1d29",
        "type": "inject",
        "z": "2860ad446d60019d",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "V1",
        "payload": "10",
        "payloadType": "num",
        "x": 370,
        "y": 980,
        "wires": [
            [
                "e2e82400.13715"
            ]
        ]
    },
    {
        "id": "312f59ca.7d897e",
        "type": "inject",
        "z": "2860ad446d60019d",
        "name": "2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "V2",
        "payload": "15",
        "payloadType": "num",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "e2e82400.13715"
            ]
        ]
    },
    {
        "id": "e2e82400.13715",
        "type": "function",
        "z": "2860ad446d60019d",
        "name": "multiChart",
        "func": "var msg1 = {};\nvar msg2 = {};\nmsg1.topic = 'V1';\nmsg2.topic = 'V2';\n\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "88c50026.d8671"
            ],
            [
                "88c50026.d8671"
            ]
        ]
    },
    {
        "id": "622048d4.151e08",
        "type": "mqtt in",
        "z": "2860ad446d60019d",
        "name": "",
        "topic": "simulation/max_waiting_time",
        "qos": "2",
        "datatype": "auto",
        "broker": "3861079235b4c808",
        "x": 460,
        "y": 880,
        "wires": [
            [
                "c17dd82d.9304e"
            ]
        ]
    },
    {
        "id": "c17dd82d.9304e",
        "type": "ui_text",
        "z": "2860ad446d60019d",
        "group": "13758b1e.e29865",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max waiting time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 880,
        "wires": []
    }
]