dashboard/flows.json
[{"id":"2860ad446d60019d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"713d0f0c05c07366","type":"debug","z":"2860ad446d60019d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":480,"wires":[]},{"id":"48b466ee65b6b51a","type":"mqtt in","z":"2860ad446d60019d","name":"sensor/1/data","topic":"sensor/1/data","qos":"2","datatype":"auto","broker":"3861079235b4c808","x":370,"y":340,"wires":[["713d0f0c05c07366","5f714de5018a9a8a"]]},{"id":"5f714de5018a9a8a","type":"json","z":"2860ad446d60019d","name":"","property":"payload","action":"","pretty":false,"x":610,"y":340,"wires":[["fc871a97da29a412","f7563c4f82c6eaa9","488bef3166ebd69e"]]},{"id":"fc871a97da29a412","type":"ui_chart","z":"2860ad446d60019d","name":"SingleAvg","group":"3d89a586961cbace","order":0,"width":0,"height":0,"label":"single chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":280,"wires":[[]]},{"id":"f7563c4f82c6eaa9","type":"function","z":"2860ad446d60019d","name":"","func":"let sum = flow.get('sum') || 0;\nsum +=  parseInt(msg.payload);\nmsg.payload = sum;\nflow.set('sum', sum)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":380,"wires":[["eb3585105ea2dfbf","7792c4892637eb60"]]},{"id":"488bef3166ebd69e","type":"debug","z":"2860ad446d60019d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"7792c4892637eb60","type":"ui_chart","z":"2860ad446d60019d","name":"SumAvg","group":"3d89a586961cbace","order":1,"width":0,"height":0,"label":"sum chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":380,"wires":[[]]},{"id":"eb3585105ea2dfbf","type":"debug","z":"2860ad446d60019d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"3861079235b4c808","type":"mqtt-broker","name":"","broker":"mqttbroker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"sensor/1/data","birthQos":"1","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d89a586961cbace","type":"ui_group","name":"Chart-1","tab":"ffb068fa7641e543","order":1,"disp":true,"width":"6","collapse":false},{"id":"ffb068fa7641e543","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]